body{
  margin: 0;
}

.navigation{
  margin:0;
}

ul.navigation{
  display: flex;
  align-items: center;
}

.navigation li{
display: block;
padding: 20px;
color: white;
margin:0;
}
.navigation li img{
width: 40px;
height: 40px;

}
header{
  position: fixed;
  width: 100%;
  margin: 0;
  background-color: rgba(132, 0, 255, 0.699);
  
}

.login{
  position: absolute;
  /* margin: 20px auto;   */
  right: 20px;
  color: white;
}

.login a{
  color:white;
  text-decoration: none;
}

.navigation{}