/* Import Normalize - a library that removes differences in

   built in styling between browsers */

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Sticky footer fix */

body {

    display: flex;

    min-height: 100vh;

    flex-direction: column;

}


main {

    flex: 1;

}