.product-list {
  margin-left: -10px;
  display: flow-root; 
}

.product {
  display: block;
  width: 200px;
  margin: 10px;
  float: left;
  text-decoration: none;
  color: #000;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h3 {
  margin-top: 5px;
  text-align: center;
}

.product-detail img {
  border-radius: 10px;
  float: right;
  width: 45%;
}

.product-detail div {
  float: left;
  width: 50%;
}