body {
  background-color: rgb(171, 103, 36);
  color: white;
  font-family: Georgia;
  font-size: 20px;
}

button {
  display: inline-block;
  margin-right: 12px;
  padding: 5px 10px;
  background-color: rgb(252, 216, 119);
  font-size: 20px;
  cursor: pointer;
}

.countdown {
  font-size: 40px;
  margin-bottom: 15px;
}